section {
    max-width: 1200px;
    padding-inline: 1rem;

    grid-template-rows: 1fr auto;
    grid-template-columns: 2.5fr 1.5fr 1fr;
    gap: 1.5rlh;
    color: var(--gray-900);

    @media (width > 880px) {
display: grid; 
    }

    h2 {
        font-size: 2.5rem;
        z-index: 1;
        line-height: 1.1;
        color: var(--gray-1000);
        margin-block-start: calc(.5cap - .5lh);
    }

    .content {
        display: subgrid;
        grid-column: 2/4;

        >*+* {
            margin-top: .75rlh;
        }
    }

    figure {
display: subgrid;
grid-column: 1/2;
grid-row: 1/2;
grid-template-columns: subgrid;
grid-template-rows: subgrid;
}
    }

    img {
        align-self: stretch;
        object-fit: cover;
        aspect-ratio: 1.35;
    }

    figcaption {
        margin-top: .5em;
        font-size: 85%;
        color: var(--gray-900);
        background: var(--gray-100);
        padding: .4rlh .6rlh;
    }

