---
const { cardContent } = Astro.props;
---

<ul class="full-width">
  {
    cardContent.map((card) => (
      <li>
        <h3>{card.title}</h3>
        <p>{card.body}</p>
      </li>
    ))
  }
</ul>

<style>
  .full-width {
    scroll-snap-type: x mandatory;
    scroll-snap-align: center;
    scroll-snap-stop: always;
  }
  ul {
    list-style: none;
    padding: 1.5rem;
    display: grid;
    grid: auto / repeat(4, 1fr);
    gap: 2rem;
  }
  li {
    background: var(--bg-card, var(--gray));
    border-radius: 10px;
    padding: 2.5rem;
  }
</style>
